{
  "extends": ["@atolye15/eslint-config"],
  "rules": {
    "@typescript-eslint/no-unused-vars": ["error", { "argsIgnorePattern": "^_" }],
    "import/extensions": [
      "error",
      "ignorePackages",
      {
        "js": "never",
        "mjs": "never",
        "jsx": "never",
        "ts": "never",
        "tsx": "never"
      }
    ],
    "import/no-extraneous-dependencies": [
      "error",
      {
        "devDependencies": [
          "src/setupTests.ts",
          "jest-*.js",
          "src/**/*.test.tsx",
          "src/**/*.stories.tsx"
        ]
      }
    ]
  }
}
