# All files
*       @alpcanaydin

# Checklists
/checklists/ @alpcanaydin @ecempehlivan @akemalakcay @ahmetcelikezer @emr

# Styles
/src/components/ @hsnaydd
/src/pages/ @hsnaydd
/src/templates/ @hsnaydd
/src/styles/ @hsnaydd