@import '../styles/abstracts/index';

//
// Category Detail Section
//

.o-category-detail-section {
  @include media-breakpoint-up(xl) {
    padding-bottom: pad(2xlarge);
  }

  @include media-breakpoint-up(lg) {
    padding-top: pad(xlarge);
  }

  @include media-breakpoint-down(md) {
    padding-top: pad();
  }

  @include media-breakpoint-between(md, lg) {
    padding-bottom: pad(xlarge);
  }

  @include media-breakpoint-down(sm) {
    padding-bottom: pad(large);
  }
}
