@import '../styles/abstracts/index';

//
// Checklist Detail Section
//
.o-checklist-detail-section {
  justify-content: center;

  @include media-breakpoint-up(xl) {
    padding-bottom: pad(2xlarge);
  }

  @include media-breakpoint-up(md) {
    padding-top: pad(xlarge);
  }

  @include media-breakpoint-between(md, lg) {
    padding-bottom: pad(xlarge);
  }

  @include media-breakpoint-down(sm) {
    padding-top: pad(medium);
    padding-bottom: pad(medium);
  }
}
