@import '../styles/abstracts/index';

//
// Page Container
//

.o-page-container {
  @include media-breakpoint-up(xl) {
    padding-top: pad(xlarge);
    padding-bottom: pad(xlarge);
  }

  @include media-breakpoint-down(lg) {
    padding-top: pad();
    padding-bottom: pad();
  }
}
