@import '../styles/abstracts/index';

//
// o-suggest-a-checklist
//

.o-suggest-a-checklist {
  @include text-style('large-body');

  //
  // Elements
  // -------------------------

  &:hover > &__icon {
    transform: translate3d(px-to-rem(4px), px-to-rem(-4px), 0);
  }

  &__icon {
    transition: transform $g-transition-duration;
  }
}
