@import '../../styles/abstracts/index';

//
// Category Card
//

.c-category-card {
  $z-index-level-1: 1;

  @include media-breakpoint-up(lg) {
    --c-card-padding-sides: #{pad(small)};
  }

  @include media-breakpoint-up(md) {
    min-height: px-to-rem(350px);
  }

  @include media-breakpoint-down(md) {
    --c-card-padding-sides: #{pad(xsmall)};
  }

  //
  // Elements
  // -------------------------

  &__title {
    margin-bottom: gap(2xsmall);
  }

  &__checklist-count {
    color: $color-secondary;
  }

  &__tag {
    position: relative;
    z-index: $z-index-level-1;
  }
}
