//
// Palettes
// -------------------------

//
// Gray Palette
//

$color-palette-gray: (
  50: #fafafa,
  100: #f5f5f5,
  200: #eee,
  300: #e0e0e0,
  400: #bdbdbd,
  500: #9e9e9e,
  600: #757575,
  700: #616161,
  800: #424242,
  900: #212121,
);

$g-color-palettes: (
  'gray': $color-palette-gray,
);

//
// Colors
// -------------------------

//
// Default Colors
//

$color-white: #fff;
$color-black: #000;

//
// Custom Colors
//

//
// Project Colors
//

$primary-color: #008cba;
$secondary-color: #e7e7e7;
$alert-color: #f04124;
$success-color: #43ac6a;
$warning-color: #f08a24;
$info-color: #a0d3e8;

//
// Project Color Configs
// -------------------------

$g-body-bg: $color-white !default;
$g-text-color: color-palette('gray', 900) !default;
$g-headings-color: inherit !default;
$g-link-color: $primary-color !default;
$g-link-hover-color: darken($g-link-color, 15%) !default;
$g-border-color: color-palette('gray', 100) !default;
$g-text-muted-color: color-palette('gray', 600) !default;
$g-hr-border-color: $g-border-color !default;
