//
// Palettes
// -------------------------

//
// Primary Palette
//

$color-palette-primary: (
  50: #e7efff,
  100: #8190b1,
  200: #63729c,
  300: #4f5b7d,
  400: #3b445e,
  500: #31394f,
  600: #232939,
  700: #181c27,
  800: #101013,
  900: #09090a,
);

$g-color-palettes: (
  'primary': $color-palette-primary,
);

//
// Colors
// -------------------------

//
// Default Colors
//

$color-white: #fff;
$color-black: #000;

//
// Custom Colors
//

$color-dodger-blue: #296efa;
$color-dodger-blue-light-1: #339eff;
$color-denim: #1858d9;
$color-azure-radiance: #0085ff;
$color-blue: #001bff;
$color-dark-blue: #061ac2;
$color-electric-violet: #b61eff;
$color-electric-violet-dark-1: #8b12c5;
$color-rose: #ff0c6f;
$color-razzmatazz: #e9005f;
$color-clementine: #e66400;
$color-clementine-dark-1: #e65f00;
$color-tenn: #d55d00;
$color-purple-heart: #4d24c2;
$color-blue-gem: #381697;
$color-lynch: #79849e;
$color-polo-blue: #97adda;
$color-malachite: #00e65b;
$color-red-ribbon: #e60042;
$color-robins-egg-blue: #00d0e6;
$color-gossamer: #079668;
$color-salem: #09714f;
$color-fuzzy-wuzzy-brown: #c54d52;
$color-medium-carmine: #b73a3f;

$color-brand: #fe2d5b;
$color-brand-dark-1: #e6004d;

//
// Project Colors
//

$color-primary: color-palette('primary', 500) !default;
$color-secondary: $color-polo-blue !default;
$color-danger: $color-red-ribbon;
$color-success: $color-malachite;
$color-warning: $color-clementine-dark-1;
$color-info: $color-robins-egg-blue;

//
// Project Color Configs
// -------------------------

$g-body-background-color: color-palette('primary', 800) !default;
$g-text-color: color-palette('primary', 50) !default;
$g-headings-color: $color-white !default;
$g-link-color: $color-dodger-blue-light-1 !default;
$g-link-hover-color: $color-azure-radiance !default;
$g-border-color: color-palette('primary', 900) !default;
$g-text-muted-color: $color-lynch !default;
$g-hr-border-color: $g-border-color !default;

$g-category-colors: (
  'default': (
    idle: color-palette('primary', 700),
    hover: color-palette('primary', 500),
  ),
  'general': (
    idle: $color-blue,
    hover: $color-dark-blue,
  ),
  'front-end': (
    idle: $color-dodger-blue,
    hover: $color-denim,
  ),
  'back-end': (
    idle: $color-electric-violet,
    hover: $color-electric-violet-dark-1,
  ),
  'devops': (
    idle: $color-fuzzy-wuzzy-brown,
    hover: $color-medium-carmine,
  ),
  'design': (
    idle: $color-rose,
    hover: $color-razzmatazz,
  ),
  'project-management': (
    idle: $color-purple-heart,
    hover: $color-blue-gem,
  ),
  'human-resources': (
    idle: $color-clementine,
    hover: $color-tenn,
  ),
  'marketing': (
    idle: $color-gossamer,
    hover: $color-salem,
  ),
);
