@import '../../styles/abstracts/index';

//
// Checklist Card
//

.c-checklist-card {
  $z-index-level-1: 1;
  min-height: px-to-rem(270px);

  @include media-breakpoint-down(md) {
    --c-card-padding-sides: #{pad(xsmall)};
  }

  //
  // Elements
  // -------------------------

  &__details {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    margin-bottom: gap();
    color: $g-text-muted-color;
  }

  &__category {
    position: relative;
    z-index: $z-index-level-1;
  }

  &__todo-count {
    @include text-style('small');
  }

  &__title {
    margin-bottom: gap(xsmall);
  }

  &__featured {
    width: px-to-rem(24px);
    height: px-to-rem(24px);
    margin-right: gap(xsmall);
    vertical-align: text-bottom;
  }

  &__description {
    margin-top: 0;
  }

  &__tag {
    position: relative;
    z-index: $z-index-level-1;
  }
}
