@import '../../../styles/abstracts/index';

//
// Footer Social Menu
//

.c-footer-social-menu {
  @include list-unstyled($margin-bottom: 0, $margin-top: 0);

  display: grid;
  grid-template-columns: repeat(auto-fill, #{$g-font-size-xlarge});
  gap: gap(2xsmall);

  //
  // Elements
  // -------------------------
  &__item {
    display: flex;
    flex-shrink: 0;
    font-size: $g-font-size-xlarge;
  }
  //
  // Modifiers
  // -------------------------;
}
