@import '../styles/abstracts/index';

//
// About Section
//

.o-about-section {
  @include text-style('subtitle');
  justify-content: center;

  @include media-breakpoint-up(xl) {
    padding-top: pad(2xlarge);
    padding-bottom: pad(2xlarge);
  }

  @include media-breakpoint-down(lg) {
    padding-top: pad(xlarge);
    padding-bottom: pad(xlarge);
  }
}
