@import '../styles/abstracts/index';

//
// Not Found Section
//

.o-not-found-section {
  justify-content: center;
  padding-top: pad();

  @include media-breakpoint-up(xl) {
    padding-bottom: pad(2xlarge);
  }

  @include media-breakpoint-down(lg) {
    padding-bottom: pad(xlarge);
  }
}
