@import '../../styles/abstracts/index';

//
// Search
//

.c-search {
  $z-index-level-1: 1;

  position: relative;
  z-index: $g-z-index-header-search;

  &__results {
    position: absolute;
    z-index: $z-index-level-1;
    right: 0;
    left: 0;
    box-shadow: 0 px-to-rem(20px) px-to-rem(20px) 0 rgba(16, 16, 19, 0.5);

    @include media-breakpoint-up(lg) {
      min-width: px-to-rem(538px);
    }
  }

  &__powered-by {
    display: flex;
    justify-content: flex-end;
    padding: pad(xsmall) pad(small);
    background-color: color-palette(primary, 900);
    border-bottom-left-radius: px-to-rem(4px);
    border-bottom-right-radius: px-to-rem(4px);
  }

  &__no-result {
    @include text-style('large-body');

    padding: pad(xsmall);
    background-color: color-palette(primary, 700);
  }
}
