@import '../../../styles/abstracts/index';

//
// Icon Button
//

.c-icon-button {
  //
  // Elements
  // -------------------------

  &__icon {
    font-size: $g-font-size-xlarge;
    transform: var(--c-icon-button-icon-transform);
    transition: transform 0.2s;
  }

  //
  // Modifiers
  // -------------------------
}
