@import '../../../styles/abstracts/index';

//
// Link White
//

.c-link-brand {
  color: $g-text-color;

  &:hover,
  &.is-active {
    color: $color-brand;
    text-decoration: none;
  }

  &:focus {
    outline: px-to-rem(2px) dotted color-palette('primary', 50);
    outline-offset: px-to-rem(2px);
  }
}
