@mixin link-theme-select($bg, $bg-hover) {
  background-color: $bg;

  &:hover {
    background-color: $bg-hover;
    color: color-palette('primary', 50);
    text-decoration: none;
  }

  &.is-selected {
    background-color: $bg-hover;
  }
}
