@import '../../styles/abstracts/index';

//
// Blockquote
//

.c-blockquote {
  padding: pad(2xsmall) pad(small);
  margin: 0;
  border-left: px-to-rem(4px) solid $color-rose;
  border-radius: px-to-rem(4px);
}
