@import '../../styles/abstracts/index';

//
// Footer
//

.c-footer {
  @include text-style('large-body');

  padding-top: pad();
  padding-bottom: pad();

  //
  // Elements
  // -------------------------
  &__brand-logo-link {
    display: inline-flex;
    margin-bottom: gap();
  }

  &__brand-logo {
    height: px-to-rem(32px);
  }

  &__social-nav {
    margin-top: gap(medium);
  }

  &__title {
    margin-bottom: gap();
    font-weight: 500;
    letter-spacing: px-to-em(2px, $g-font-size-small);
    text-transform: uppercase;
  }

  &__menu {
    @include list-unstyled($margin-bottom: 0, $margin-top: 0);
  }

  //
  // Modifiers
  // -------------------------
}
