@import '../../../styles/abstracts/index';

//
// Link Secondary
//

.c-link-secondary {
  color: $g-text-color;

  &:hover,
  &.is-active {
    color: color-palette('primary', 50);
    text-decoration: none;
  }

  &:focus:not([data-focus-visible-added]) {
    outline: none;
  }

  &[data-focus-visible-added] {
    outline: px-to-rem(2px) dotted color-palette('primary', 50);
    outline-offset: px-to-rem(2px);
  }
}
