@import '../../../styles/abstracts/index';

//
// Link White
//

.c-link-white {
  color: color-palette('primary', 50);

  &:hover,
  &.is-active {
    color: color-palette('primary', 50);
    text-decoration: none;
  }

  &:focus {
    outline: px-to-rem(2px) dotted color-palette('primary', 50);
    outline-offset: px-to-rem(2px);
  }
}
