@import '../../styles/abstracts/index';

//
// Search Card
//

.c-search-card {
  $z-index-level-1: 1;

  @include text-style('small');

  position: relative;
  z-index: 0;
  padding: pad(xsmall) pad();
  background-color: color-palette(primary, 700);

  &:hover {
    background-color: color-palette('primary', 600);
  }

  &:not(:first-child) {
    border-top: 1px solid color-palette(primary, 600);
  }

  &__category {
    margin-bottom: gap(2xsmall);
    font-weight: 500;
  }

  &__title {
    margin-bottom: gap(2xsmall);
  }

  &__title-link {
    &::before {
      position: absolute;
      z-index: 0;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      display: block;
      content: '';
    }
  }

  &__tag {
    position: relative;
    z-index: $z-index-level-1;
  }
}
