@import '../../styles/abstracts/index';

//
//  Unstyled Button
//

.c-unstyled-button {
  padding: var(--c-unstyled-button-padding-ends, 0) var(--c-unstyled-button-padding-ends, 0);
  border: 0;
  background-color: transparent;
  cursor: pointer;
  line-height: var(--c-unstyled-button-line-height, #{$g-line-height-base});
  transition: var(--c-unstyled-button-transition, #{$g-link-transition});
}
